body {
  font: 14px/18px "PT Sans Caption", Arial, sans-serif;
  background: url(https://lata.net.ua/bitrix/templates/boxsol_business_green/img/bodybg/bg2.png) repeat left top;
  font-family: 14px/18px "PT Sans Caption", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  color: #656565;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'PT Sans Caption', sans-serif;
  color: #353535;
  margin: 0;
  padding: 0;
  font-weight: 300;
  margin: 0 0 10px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, li {
  list-style: none;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
}
