body {
  font: 14px/18px "PT Sans Caption", Arial, sans-serif;
  background: url(https://lata.net.ua/bitrix/templates/boxsol_business_green/img/bodybg/bg2.png) repeat left top;
  font: 14px/18px "PT Sans Caption", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  color: #656565;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, li {
  text-decoration: none;
  color: inherit;
}
